<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Structure</key>
        <array>
            <integer>0</integer>
            <integer>1</integer>
            <integer>2</integer>
            <integer>3</integer>
            <integer>4</integer>
            <integer>4</integer>
        </array>
        <key>Scenes</key>
        <array>
            <string>MKRSceneC</string>
            <string>MKRSceneD</string>
            <string>MKRSceneE</string>
            <string>MKRSceneF</string>
            <string>MKRSceneA1</string>
            <string>MKRSceneA1</string>
        </array>
        <key>BPM</key>
        <integer>125</integer>
        <key>QPB</key>
        <integer>4</integer>
    </dict>
</plist>
