<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   03.plist
   clipper

   Created by dev on 18.07.16.
   Copyright (c) 2016 mayak. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>Structure</key>
        <array>
            <integer>0</integer>
            <integer>1</integer>
            <integer>2</integer>
            <integer>3</integer>
            <integer>4</integer>
        </array>
        <key>Scenes</key>
        <array>
            <string>MKRSceneA2</string>
            <string>MKRSceneA2</string>
            <string>MKRSceneG</string>
            <string>MKRSceneA2</string>
            <string>MKRSceneA2</string>
        </array>
        <key>BPM</key>
        <integer>160</integer>
        <key>QPB</key>
        <integer>4</integer>
    </dict>
</plist>
